/*BASTON1*/

#baston1 {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #b7c2c4;
    color: #22356d;    
}

#leyenda {
    list-style: none;
    margin-top: 0.2em;
    margin-bottom: 0.2em;    
}

/*ESTRUCTURA SOBRE NAVBAR*/

#letra-placeholder {
    font-size: 0.75em;
}

.logo {
    width: 85%;
}

#simbolo {
    font-size: 220%;
    color: #b7c2c4;
}

#estructura {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#estructura-uno {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#barra {
   margin-top: 1.2em;
}

#compras {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2em;
}

#cliente {
    font-size: 180%;
}

.link {
    text-decoration: none;
    color: #22356d;
}
    
#carro {
    font-size: 180%;
    color: white;
    background-color: #22356d;
    padding-left: 0.5em;
    padding-right: 0.8em;   
}

.mi-cuenta {
    list-style: none;
    text-decoration: none;
    margin-top: 1em;
    margin-right: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.8em;
}

#mi-cuenta {
    text-decoration: none;
    color:#22356d
}

.btn-outline-custom {
    color: #22356d;
    border-color: #b7c2c4;
}

/*BASTON2*/

#baston2 {
    background-color: #22356d;  
    color:#22356d;
}

#break {
    font-size: 50%;
}

/*NAVBAR*/

.nav-letra {
    text-decoration: none;
    font-size: 1.2em;
    color: #22356d;
    font-family: 'Noto Sans TC', sans-serif;
}

#letra {
    display: flex;
    align-items: center;
    color: #22356d;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-family: 'Noto Sans TC', sans-serif;
}

.dropdown-item-dos {
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#navbar-bgcolor {
    background-color: #69dfe2;   
}

#navbar-align {
    display: flex;
    justify-content: center;
}

#verde {
    color: #69dfe2;    
}

.dropdown-bg {
    background-color: #22356d;
    color: white;
}

#menu {
    color: white;
}

/* LOGIN */

#dir-contra-letra {
    font-size: 0.8em;
    font-family: 'Noto Sans TC', sans-serif;
}

.inicio-letra {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2em;
}

#container-uno {
    margin-top: 1em;
}

#container-dos {
    margin-top: 1em;
}

#container-tres {
    margin-top: 2em;
}

.button-custom {
    background-color: black;
    color: white !important;
}

#cuenta-social {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

.descuento {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Noto Sans TC', sans-serif;
    color: #22356d;
}

.condiciones {
    font-size: 0.75em;
    margin-top: 1em;
}

#boton-enviar {
    padding-left: 3em;
    padding-right: 3em;
    background-color: #22356d;        
}

#letra-mail {
    font-size: 1em !important;
}

/* PIE DE PAGINA */

.lista-pie {
    list-style: none;
    margin-bottom: 1.2em ;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

#contenedor {
    background-color: #22356d;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: white; 
}

.columna-uno {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.lista {
    text-decoration: none;
}

.logo-pie {
    width: 40%;
}

#columna-redes {
    display: flex;
    justify-content: center;
}

.letra-pie {
    font-family: 'Open Sans', sans-serif;
}

/* AVISO LEGAL Y DERECHOS RESERVADOS */

.container-aviso-color {
    background-color:#22356d;
    color: white;
    padding-bottom: 2em;
    font-size: 0.8em;
    list-style: none;
}


/* NAVBAR HOVER EFFECT */


.dropbtn {
    background-color: #69dfe2;
    
   
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #22356d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#22356d;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #69dfe2;}